*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  background: #e5e9fe;
  color: #333333;
}

.converter {
  margin: 5px;
  text-align: center;
  padding: 2rem;
  width: 100%;
}
@media (max-width: 1000px) {
  .converter {
    padding: 6rem 0;
  }
}
@media (max-width: 800px) {
  .converter {
    width: 100%;
  }
}
.converter form {
  background: white;
  border-radius: 5px;
  box-shadow: -220px 60px 250px -100px rgba(136, 150, 206, 0.7);
}
.converter form label {
  display: block;
  margin-bottom: 0.7rem;
}
.converter form input,
.converter form select {
  background-color: white;
}
.converter form .value {
  padding: 2rem;
  border-bottom: 1px solid #f4f4f4;
}
.converter form .value > div {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.converter form .value > div a {
  transform: translateY(-7px);
}
.converter form .value input {
  width: 100%;
  padding: 1rem 1.3rem;
  font-size: 1.5rem;
  border: 1px solid #eaeaea;
  border-radius: 5px;
  color: #333;
}
.converter form .value input:focus {
  border: 1px solid #8896ce;
  outline: none;
  transition: 0.3s ease-in-out;
}
.converter .convertOptions {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-around;
  padding: 1.5rem;
  border-bottom: 1px solid #f4f4f4;
}
.converter .convertOptions .baseCurrency,
.converter .convertOptions .foreignCurrency {
  width: 130px;
}
.converter .convertOptions .convertIcon {
  margin-top: 2rem;
  cursor: pointer;
}
.converter .convertOptions .selectContanier {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-evenly;
  border: 1px solid #eaeaea;
  border-radius: 200px;
  padding: 0.2rem;
}
.converter .convertOptions .selectContanier .select-box select::-webkit-scrollbar {
  width: 8px;
}
.converter .convertOptions .selectContanier .select-box select::-webkit-scrollbar-track {
  background: #fff;
}
.converter .convertOptions .selectContanier .select-box select::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 8px;
  border-right: 2px solid #ffffff;
}
.converter .convertOptions .selectContanier select {
  border: none;
  padding: 0.4rem;
  width: 60px;
  height: 100%;
  cursor: pointer;
}
.converter .convertOptions .selectContanier .flags {
  border-radius: 50%;
  margin-right: 1rem;
}
@media (max-width: 600px) {
  .converter .convertOptions {
    flex-direction: column;
  }
  .converter .convertOptions .convertIcon {
    margin: 1rem 0;
  }
}
.converter .exchangeRate {
  padding: 1.3rem 1.5rem;
  text-align: center;
}
.converter .exchangeRate p {
  font-size: 1.1rem;
  margin-bottom: 0.6rem;
}
.converter .exchangeRate .result {
  font-size: 2rem;
  color: #444;
}
.converter .convertBtn {
  display: inline-block;
  width: 100%;
  padding: 1.2rem;
  text-align: center;
  border: none;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  transition: 0.3s ease-in-out;
  background: #191136;
  color: white;
  font-size: 1.3rem;
  cursor: pointer;
}
.converter .convertBtn:hover {
  background: rgb(25, 17, 64);
}

